*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #dce5f0;
    color: #000000;
    font-family: Arial, sans-serif;
}
.container{
    background-color: #000000;
    display:flex;
    flex-direction: column;
    width:260px;
    height:390px;
    margin-inline-start:400px;
    margin-block-start:170px;
    border-radius: 5%;
}
    
.value button{
    width:240px;
    margin-inline-start:10px;
    height:60px;
    margin-block-start: 15px;
    margin-inline-end: 10px;
    border-radius:5%;
    padding-inline-start:150px;
    padding-block-start: 20px;
    font-size:x-large;
    font-weight: 400px;
}

.number{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#button{
    height: 50px;
    width: 50px;
    justify-content: space-evenly;
    align-items: center;
    margin-inline-start:8px;
    margin-block-end: 9px;
    margin-block-start: 7px;
    border-radius: 3%;
    font-size: larger;
}
#reset{
    position: relative;
    left:20px;
    top:10px;
    color: white;
    background-color:red;
    padding-inline-start:45px; 
    padding-inline-end: 25px;
    padding-block-start: 5px;
    padding-block-end: 5px;
    border-radius: 3%;
    
}
#clear{
    position:relative;
    left:15px;
    top:10px;
    right:10px;
    color: white;
    background-color: gray;
     padding-inline-start: 40px;
     padding-inline-end: 40px;
     padding-block-start: 5px;
     padding-block-end: 5px;
}
#operator{
    background-color: blue;
    height: 50px;
    width: 50px;
    justify-content: space-evenly;
    align-items: center;
    margin-inline-start:8px;
    margin-block-end: 9px;
    margin-block-start: 7px;
    border-radius: 3%;
    font-size: larger;
    color: white;
}

 